body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  cursor: none; /* hide cursor */
}

.bg-slider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.bg-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeSlider 120s infinite;
}

/* Fade effect */
.bg-slide:nth-child(1) { animation-delay: 0s; }
.bg-slide:nth-child(2) { animation-delay: 20s; }
.bg-slide:nth-child(3) { animation-delay: 40s; }
.bg-slide:nth-child(4) { animation-delay: 60s; }
.bg-slide:nth-child(5) { animation-delay: 80s; }
.bg-slide:nth-child(6) { animation-delay: 100s; }

@keyframes fadeSlider {
  0% { opacity: 0; }
  8% { opacity: 1; }
  25% { opacity: 1; }
  33% { opacity: 0; }
  100% { opacity: 0; }
}

/* Konten utama tetap tampil di atas */
.konten-utama {
  position: relative;
  z-index: 10;
}
h1, h2, h3, h4, h5 {
  color: #000;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
  }

.kedip {
animation:blink 4s infinite;
}

h6 {
font-size: 1.5rem;
  color: #fff;
text-align: left;
 }

@font-face {
  font-family: digital7;
  src: url(digital-7.woff);
}

.header {
  position: relative;
  padding: 10px 20px;
    z-index: 1;
   background-color: black;
  opacity: 0.7;
  text-align: center;
  }

    
.tanggal-tengah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position:relative;

}

.tanggal,
.hijriah {
  font-size: clamp(30px, 2.2vw, 30px);
  color: #fff;
  text-shadow: 0 0 3px #000,0 0 5px #000;
  user-select: none;
}
.isi {
  padding: 200px;
  text-align: center;
  font-size: 35px;
}

.footer {
  padding: 10px;
  text-align: center;
  position:fixed;
  bottom:60px;
  width:100%;
  z-index:1000;
}

.jam {
  	font-size: 10rem;
  	font-family: digital7;
  	text-shadow: 0 0 3px #000,0 0 5px #000;
  	letter-spacing: 5px;
        color: #fff;
        position:fixed;
        top: -40px;
        text-align: center;
        left: 70%
        transfrom: translateX(-50%);
     
}


.tanggal {
  	font-size: 1.3rem;
  	text-shadow: 0 0 3px #000,0 0 5px #000;
   	color: #fff;
   	user-select: none;
        text-align: left;
}
.hr-garis {
  border: none;
  border-top: 3px solid #fff;
  box-shadow: 0 0 3px #000,0 0 5px #000;
  margin: 15px 0;
  width: 100%;
}
.jam2 {
	font-size: 35px;        
}

.col-sm {
    background-color: rgba(0.0.0.0.1);
    color:white;
    text-align: center;
    border-radius:25px
   
}

/* Modal */
 .modal-content{
 	background-color: #0f0;
    color:white;
 }
 .modal-header{
 	background-color: #0f0;
    color:white;
    text-align: center;
    font-size: 30px;
  }


.running-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
  z-index: 9999;
  height: 55px;
  display: flex;
  align-items: center;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
  font-size: 30px;
  font-weight: 500;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


