body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  cursor: none; /* hide cursor */
}

.bg-slider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.bg-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeSlider 120s infinite;
}

/* Fade effect */
.bg-slide:nth-child(1) { animation-delay: 0s; }
.bg-slide:nth-child(2) { animation-delay: 20s; }
.bg-slide:nth-child(3) { animation-delay: 40s; }
.bg-slide:nth-child(4) { animation-delay: 60s; }
.bg-slide:nth-child(5) { animation-delay: 80s; }
.bg-slide:nth-child(6) { animation-delay: 100s; }

@keyframes fadeSlider {
  0% { opacity: 0; }
  8% { opacity: 1; }
  25% { opacity: 1; }
  33% { opacity: 0; }
  100% { opacity: 0; }
}

/* Konten utama tetap tampil di atas */
.konten-utama {
  position: relative;
  z-index: 10;
}
h1, h2, h3, h4, h5{
  color: #000;
  text-shadow: 0 0 3px #fff,0 0 5px #fff;
}

h6 {
font-size: 1.2rem;
  color: #fff;
text-align: center;
 }

@font-face {
  font-family: digital7;
  src: url(digital-7.woff);
}

.header {
  padding: 10px 40px;
  text-align: center;
  background-color: black;
  opacity: 0.7;

 

}
.tanggal-tengah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tanggal,
.hijriah {
  font-size: clamp(30px, 2.2vw, 30px);
  color: #fff;
  user-select: none;
}
.isi {
  padding: 200px;
  text-align: center;
  font-size: 35px;
}

.footer {
  padding: 10px;
  text-align: center;
  position:fixed;
  bottom:10px;
  width:100%;
}

.jam {
  	font-size: 75px;
  	font-family: digital7;
  	letter-spacing: 5px;
   	color: #fff;
   	user-select: none;
   	opacity:1;
}

.hari {
  	font-size: 35px;
  	text-shadow: 0 0 8px #fff;
   	color: #fff;
   	user-select: none;
}

.tanggal {
  	font-size: 25px;
   	color: #fff;
   	user-select: none;
}
.hr-garis {
  border: none;
  border-top: 3px solid #fff;
  margin: 10px 0;
  width: 50%;
}
.jam2 {
	font-size: 35px;
	text-shadow: 0 0 3px #fff,0 0 5px #fff;
	color:000;
        
}

.col-sm {
    background-color: rgba(0.0.0.0.1);
    color:white;
    text-align: center;
	border-radius: 25px;
   
}

/* Modal */
 .modal-content{
 	background-color: #0f0;
    color:white;
 }
 .modal-header{
 	background-color: #0f0;
    color:white;
    text-align: center;
    font-size: 30px;
  }













