body {
  background-image: url("main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

@font-face {
  font-family: digital7;
  src: url("digital-7.woff");
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  text-align: center;
}

.hari, .tgl {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 6px #000;
}

.jam {
  font-family: digital7;
  font-size: 90px;
  color: #fff;
  text-shadow: 0 0 20px #fff;
  letter-spacing: 5px;
}

.jam2 {
  font-family: digital7;
  font-size: 60px;
  color: #000;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

/* Gambar logo dan ikon waktu salat */
img {
  max-width: unset !important;
  height: auto;
}

.header img {
  width: 140px;
  height: 140px;
}

.col-sm img {
  width: 80px;
  height: 80px;
}

/* Modal */
.modal-content {
  background-color: #0f0;
  color: white;
}

.modal-header {
  background-color: #0f0;
  color: white;
  text-align: center;
  font-size: 32px;
}

.modal-body img {
  width: 300px;
  height: auto;
}

/* Footer (Waktu Sholat) */
.footer {
  padding: 20px;
  position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 10;
}

.col-sm {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

/* Running Text */
.runtext-container {
  width: 100%;
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  opacity: 0.9;
}

.runtext-container marquee {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  }
